<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="assets/img/favicon.ico">
        <link href="assets/img/favicon.ico" rel="shortcut icon"/>
        {% block stylesheets %}
        {% endblock %}
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/assets/css/owl.carousel.css"/>
	<link rel="stylesheet" href="/assets/css/style.css"/>
	<link rel="stylesheet" href="/assets/css/animate.css"/>
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <!-- Header section -->
        <header class="header-section">
            <div class="container">
                <!-- logo -->
                <a class="site-logo" href="{{path('app_main')}}">
                    <img src="assets/img/logo.png" alt="">
                </a>
                <div class="user-panel">
                    {% if not app.user %}<a href="{{ path("app_login")}}">Connexion</a>  |  <a href="{{ path("app_register")}}">Inscription</a>{% else %}<a href="{{path('app_logout')}}">Déconnexion</a>{% endif %}
                </div>
                <!-- responsive -->
                <div class="nav-switch">
                    <i class="fa fa-bars"></i>
                </div>
                <!-- site menu -->
                <nav class="main-menu">
                    <ul>
                        <li><a href="{{ path("app_main")}}">Acceuil</a></li>
                        <li><a href="{{ path("app_games")}}">Nos jeux</a></li>
                        <li><a href="{{path('app_blog')}}">Articles</a></li>
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <li><a href="{{path("app_administration_users")}}">Administration</a></li>
                        {% endif %}
                        {% if app.user %} <li><a href="{{path('app_main_account')}}">Mon compte</a></li> {% endif %}
                    </ul>
                </nav>
            </div>
        </header>
        <!-- Header section end -->
        {% block body %}{% endblock %}
        <!-- Footer top section -->
        <section class="footer-top-section">
            <div class="container">
                <div class="footer-top-bg">
                    <img src="/assets/img/footer-top-bg.png" alt="">
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="footer-logo text-white">
                            <img src="/assets/img/footer-logo.png" alt="">
                            <p><i>"Du ciel à la terre, la victoire ou la mort"</i></p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-widget mb-5 mb-md-0">
                            <h4 class="fw-title">Deniers articles</h4>
                            <div class="latest-blog">
                                {% for a in lastArticles %}
                                    <div class="lb-item">
                                        <img class="lb-thumb set-bg" src="/uploads/images/{{a.img}}">
                                        <div class="lb-content">
                                            <div class="lb-date">{{ a.title }}</div>
                                            <p>The Delta Force</p>
                                            <a href="{{ path('app_blog_article', {'id': a.id})}}" class="lb-author">Voir</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-widget">
                            <h4 class="fw-title">Derniers commentaires</h4>
                            <div class="top-comment">
                                {% for lc in lastComments|slice(0,4) %}
                                    <div class="tc-item">
                                        <img class="tc-thumb set-bg" src="/uploads/images/{{lc.author.img}}">
                                        <div class="tc-content">
                                            <p>{{lc.author.userName}} <span>sur</span>  <a href="{{ path('app_blog_article', {'id': lc.article.id})}}">{{lc.article.title}}</a></p>
                                            <div class="tc-date">{{ lc.date|date('d/m/Y H:m') }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer top section end -->
        	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">

			<p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tous droits réservés | The Delta Force Team
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
		</div>
	</footer>
	<!-- Footer section end -->
    </body>
</html>
