{% extends 'baseAdmin.html.twig' %}

{% block body %}
  <body class="vertical-layout vertical-compact-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-compact-menu" data-col="2-columns">

    <!-- ////////////////////////////////////////////////////////////////////////////-->

    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row">
          <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <div class="row breadcrumbs-top d-inline-block">
              <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active">Commentaires
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="content-body"><div id="transactions">
    <div class="transactions-table-th d-none d-md-block">
        <div class="col-12">
            <div class="row px-1">
                <div class="col-md-2 col-12 py-1">
                    <p class="mb-0">Auteur</p>
                </div>
                <div class="col-md-2 col-12 py-1">
                    <p class="mb-0">Contenu</p>
                </div>
                <div class="col-md-1 col-12 py-1">
                    <p class="mb-0">Modifier</p>
                </div>
                {# <div class="col-md-2 col-12 py-1">
                    <p class="mb-0">Supprimer</p>
                </div> #}
            </div>
        </div>
    </div>
    <div class="transactions-table-tbody">
        {% for c in Comments %}
            <section class="card pull-up">
                <div class="card-content">
                    <div class="card-body">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-2 col-12 py-1">
                                    <span class="d-inline-block d-md-none text-bold-700">Auteur: </span>{{ c.author.userName }}
                                </div>
                                <div class="col-md-2 col-12 py-1">
                                    <span class="d-inline-block d-md-none text-bold-700">Contenu: </span>{{ c.text|slice(0,40) }}
                                </div>
                                <div class="col-md-2 col-12 py-1">
                                    <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Infos : </span> {{c.article.title}} le {{ c.date|date('d/m/Y H:m:s') }}</p>
                                </div>
                                <div class="col-md-2 col-12 py-1">
                                    <form method="post" action="{{ path('app_comment_delete', {'id': c.id}) }}">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ c.id) }}">
                                        <button class="btn">Supprimer</button>
                                    </form>
                                </div>
                                <div class="col-md-2 col-12 py-1">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#commentDetails{{c.id}}">
                                        Détails
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
        </div>
    </div>
    </div>
    </div>
</div>
<!-- Modal -->
{% for c in Comments %}
<div class="modal fade" id="commentDetails{{c.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="articleCreatorLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="articleCreatorLabel">Créer un article</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <div class="modal-body">
                <b>Auteur :</b> {{ c.author.userName}}<br>
                <b>Article :</b> {{c.article.title}}<br>
                <b>Date : </b> {{ c.date|date('d/m/Y H:m:s') }}<br>
                <b>Contenu :</b> {{ c.text }}<br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-primary">Créer</button>
            </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
